<header style="background-color:black ; height:200px; color:fuchsia">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    <h1>Header... :) hola!</h1>



    
</header>